<h1>Elastique Assesment</h1h1>

<h3>Usage:</h3>

<ul>
    <li>/books/list</li>
    <li>/books/&lt;i&gt;</li>
    <li>/books/search/&lt;query&gt;[/&lt;offset&gt;/&lt;limit&gt;]</li>
<br />
    <li>/authors/list</li>
    <li>/author/<i></li>
<br />
    <li>/authors/list</li>
    <li>/publishers/list</li>
    <li>/publisher/&lt;i&gt;></li>
</ul>



